body {
	font-family: Arial, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.tbody li:nth-child(even) {
	background-color: #ccc;
}
.thead {
	margin-bottom: 1em;
	font-size: 130%;
}
.tr {
  overflow: hidden;
}
.td, .th {
  float: left;
}
.category {
	width: 18%;
}
.name {
	width: 15%;
}
.medium {
	width: 6%;
}
.large {
	width: 8%;
}
.small {
	width: 5%;
}
.xs {
	width: 4%;
}